{% extends 'base.html' %}
{% block title %}

      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    <div class="card mb-3" style="max-width: 1000px; max-height: 400px;margin: auto;">
        <img src="/static/PIC/Diabetes-Management.jpeg" class="card-img-top" alt="..."
             style="width: 260px; height: 130px; margin: auto; margin-top: 20px;">
        <h1> Diabetes Retinopathy Risk Simulation* </h1>
        <p style="text-align: center; margin-bottom: 10px;">Your Last Diagnosis Time is <b><u>{{ diagnosis_date }}</u></b> and Risk Score is <b><u>{{ latest_report.risk_score }}</u></b>.</p>
        <p style=" margin: auto; width: 850px; font-size: 12px;">*This is embedded with a <b>machine learning model </b>which will take in values from the form below.
            Then, it will simulate a new diabetes risk score.
        </p>
        <p style="margin: auto; width: 850px; font-size: 12px; ">*If you <b>do not have blood test values</b>, your risk score will be the average of 3 risk scores, which are predicted based on
            blood test values in 0th to 50th percentile, 50th to 75th percentile, and 75th to 100th percentile of glucose level respectively.
        </p>
        <p style="margin: auto; width: 850px; font-size: 12px;">*The form is <b>auto-filled</b> with your last diagnosis values. You can try simulations by inputting new values.
        </p>
        <p style="margin: auto; width: 850px; font-size: 12px; margin-bottom: 10px;">*Certain factors would have <b>stronger impacts </b>on the risk score simulated, such as <b>Hemoglobin_A1c (%),
            Diabetes Family History, Waist Circumference (cm), Daily Intake of Fat (g) and physical activities </b>.
        </p>
    </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist" style=
            "max-width: 1000px;
            margin: auto;
            #background-color: #FEFBFB;">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="basicinfo-tab" data-toggle="tab" href="#basicinfo" role="tab" aria-controls="basicinfo" aria-selected="true" style="color: #ee6617;">Basic Information</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="bloodtest-tab" data-toggle="tab" href="#bloodtest" role="tab" aria-controls="bloodtest" aria-selected="false" style="color: #ee6617;">Blood Test</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="lifestyle-tab" data-toggle="tab" href="#lifestyle" role="tab" aria-controls="lifestyle" aria-selected="false" style="color: #ee6617;">Lifestyle Records</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="otherdisease-tab" data-toggle="tab" href="#otherdisease" role="tab" aria-controls="otherdisease" aria-selected="false" style="color: #ee6617;">Diabetes and Complications</a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
    <form action={{ url_for('dr_simulation_user') }} method="POST" style="margin-bottom: 20px;">
         <div class="tab-pane fade show active" id="basicinfo" role="tabpanel" aria-labelledby="basicinfo-tab" style=
                "max-width: 1000px;
                border-radius: 20px;
                margin: auto;
                background-color: #FCE5D8;
                box-shadow: 5px 5px 5px #aaaaaa;
                margin-top: 20px;
                margin-bottom: 20px">
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 25%;color: black;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>
             <p style="margin-left: 35px; margin-top: 10px; font-size: 12px; max-width: 900px;"><b>Note:</b> * is required field and invalid required field will be highlighted in red.
                Please input maximum 2 decimal place. Please follow the allowed range.</p>
            <div class="form-group row" >
                <label for="inputEmail3" class="col-sm-5 col-form-label">Gender*</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="sex" id="inlineRadio1" value="1" required >
                    <label class="form-check-label" for="inlineRadio1">Male</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="sex" id="inlineRadio2" value="2" required >
                    <label class="form-check-label" for="inlineRadio2">Female</label>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-5 col-form-label" >Age (year)*
                    <i style="font-size: 13px;">(Allowed range: 0~150)</i>
                    <span id="ageDiff" style="color: #ee6617; margin-left: 20px;"></span>
                </label>
                <div class="col-sm-10" style="max-width: 500px;">
                    <input type="number" class="form-control" id="inputAge" name="age" value="{{ latest_report.age }}" required step=".01" onkeyup="ageDiff()" min="0" max="150">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-5 col-form-label">Height (cm)*
                    <i style="font-size: 13px;">(Allowed range: 0.1~300)</i>
                    <span id="HE_htDiff" style="color: #ee6617; margin-left: 20px;"></span>
                </label>
                <div class="col-sm-10" style="max-width: 500px;">
                    <input type="number" class="form-control" id="inputHE_ht" name="HE_ht" required value="{{ latest_report.HE_ht }}" step=".01" onkeyup="HE_htDiff()" min="0.1" max="300">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-5 col-form-label">Weight (kg)*
                    <i style="font-size: 13px;">(Allowed range: 0~800)</i>
                    <span id="HE_wtDiff" style="color: #ee6617; margin-left: 20px;"></span>
                </label>
                <div class="col-sm-10" style="max-width: 500px;">
                    <input type="number" class="form-control" id="inputHE_wt" name="HE_wt" required value ="{{ latest_report.HE_wt }}" step=".01" onkeyup="HE_wtDiff()" min="0" max="800">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-5 col-form-label" style="width: 500px;">Waist Circumference (cm)*
                    <i style="font-size: 13px;">(Allowed range: 0~300)</i>
                <span id="HE_wcDiff" style="color: #ee6617; margin-left: 20px;"></span>
                </label>
                <div class="col-sm-10" style="max-width: 500px;">
                    <input type="number" class="form-control" id="inputHE_wc" name="HE_wc" required value="{{ latest_report.HE_wc }}" step=".01" onkeyup="HE_wcDiff()" min="0" max="300">
                </div>
            </div>


      <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 10px;">
            <button type="button" id="nextblood" class="btn btn-warning" style="margin-bottom: 10px">Next</button>
            </div>
        </div>

        <div class="tab-pane fade" id="bloodtest" role="tabpanel" aria-labelledby="bloodtest-tab" style=
                "max-width: 1000px;
                border-radius: 20px;
                margin: auto;
                background-color: #FCE5D8;
                box-shadow: 5px 5px 5px #aaaaaa;
                margin-top: 20px;">
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 50%;color: black;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
            </div>
            <p style="margin-left: 35px; margin-top: 10px; font-size: 12px; max-width: 900px;"><b>Note:</b> * is required field and invalid required field will be highlighted in red.
                Please input maximum 2 decimal place. Please follow the allowed range.</p>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-5 col-form-label">Have you done any clinical blood testing?*</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" onclick="javascript:yesnoCheck();" name="bloodtest" id="yesCheck" required value="1">
                        <label class="form-check-label" for="inlineRadio1">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" onclick="javascript:yesnoCheck();" name="bloodtest" id="noCheck" required value="0">
                        <label class="form-check-label" for="inlineRadio2">No</label>
                    </div>
            </div>
            <div id="ifYes" style="display:none">
                <div class="form-group">
                    <label for="exampleFormControlInput1" style="margin-left: 20px;">If yes, please input your most recent blood testing results below.</label>
                </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-5 col-form-label" style="width: 500px;">Systolic Blood Pressure (mmHg)
                        <i style="font-size: 13px;">(Allowed range: 0~300)</i>
                        <span id="HE_sbpDiff" style="color: #ee6617; margin-left: 20px;"></span>
                    </label>
                    <div class="col-sm-10" style="max-width: 500px;">
                        <input type="number" class="form-control" id="inputHE_sbp" name="HE_sbp" value = "{{ latest_report.HE_sbp }}" step=".01" onkeyup="HE_sbpDiff()" min="0" max="300">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-5 col-form-label" style="width: 500px;">Diastolic Blood Pressure (mmHg)
                        <i style="font-size: 13px;">(Allowed range: 0~200)</i>
                        <span id="HE_dbpDiff" style="color: #ee6617; margin-left: 20px;"></span>
                    </label>
                    <div class="col-sm-10" style="max-width: 500px;">
                        <input type="number" class="form-control" id="inputHE_dbp" name="HE_dbp" value = "{{ latest_report.HE_dbp }}" step=".01" onkeyup="HE_dbpDiff()" min="0" max="200">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-5 col-form-label" style="width: 500px;">Total Cholesterol (mg/dL)
                        <i style="font-size: 13px;">(Allowed range: 0~500)</i>
                        <span id="HE_cholDiff" style="color: #ee6617; margin-left: 20px;"></span>
                    </label>
                    <div class="col-sm-10" style="max-width: 500px;">
                        <input type="number" class="form-control" id="inputHE_chol" name="HE_chol" value="{{ latest_report.HE_chol }}" step=".01" onkeyup="HE_cholDiff()" min="0" max="500">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-5 col-form-label" style="width: 500px;">HDL Cholesterol (mg/dL)
                        <i style="font-size: 13px;">(Allowed range: 0~200)</i>
                        <span id="HE_HDL_st2Diff" style="color: #ee6617; margin-left: 20px;"></span>
                    </label>
                    <div class="col-sm-10" style="max-width: 500px;">
                        <input type="number" class="form-control" id="inputHE_HDL_st2" name="HE_HDL_st2" value = "{{ latest_report.HE_HDL_st2 }}" step=".01" onkeyup="HE_HDL_st2Diff()" min="0" max="200">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-5 col-form-label" style="width: 500px;">Triglycerides (mg/dL)
                        <i style="font-size: 13px;">(Allowed range: 0~3000)</i>
                        <span id="HE_TGDiff" style="color: #ee6617; margin-left: 20px;"></span>
                    </label>
                    <div class="col-sm-10" style="max-width: 500px;">
                        <input type="number" class="form-control" id="inputHE_TG" name="HE_TG" value ="{{ latest_report.HE_TG }}" step=".01" onkeyup="HE_TGDiff()" min="0" max="3000">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-5 col-form-label" style="width: 500px;">Fasting Blood Sugar (mg/dl)
                        <i style="font-size: 13px;">(Allowed range: 0~500)</i>
                        <span id="HE_gluDiff" style="color: #ee6617; margin-left: 20px;"></span>
                    </label>
                    <div class="col-sm-10" style="max-width: 500px;">
                        <input type="number" class="form-control" id="inputHE_glu" name="HE_glu" value ="{{ latest_report.HE_glu}}" step=".01" onkeyup="HE_gluDiff()" min="0" max="500">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-5 col-form-label" style="width: 500px;">Hemoglobin_A1c (%)
                        <i style="font-size: 13px;">(Allowed range: 0~20)</i>
                        <span id="HE_HbA1cDiff" style="color: #ee6617; margin-left: 20px;"></span>
                    </label>
                    <div class="col-sm-10" style="max-width: 500px;">
                        <input type="number" class="form-control" id="inputHE_HbA1c" name="HE_HbA1c" value ="{{ latest_report.HE_HbA1c }}" step=".01" onkeyup="HE_HbA1cDiff()" min="0" max="20">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-5 col-form-label" style="width: 500px;">Blood Urea Nitrogen (mg/dL)
                        <i style="font-size: 13px;">(Allowed range: 0~100)</i>
                        <span id="HE_BUNDiff" style="color: #ee6617; margin-left: 20px;"></span>
                    </label>
                    <div class="col-sm-10" style="max-width: 500px;">
                        <input type="number" class="form-control" id="inputHE_BUN" name="HE_BUN" value ="{{ latest_report.HE_BUN }}" step=".01" onkeyup="HE_BUNDiff()" min="0" max="100">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-5 col-form-label" style="width: 500px;">Blood Serum Creatinine (mg/dL)
                        <i style="font-size: 13px;">(Allowed range: 0~20)</i>
                        <span id="HE_creaDiff" style="color: #ee6617; margin-left: 20px;"></span>
                    </label>
                    <div class="col-sm-10" style="max-width: 500px;">
                        <input type="number" class="form-control" id="inputHE_crea" name="HE_crea" value ="{{ latest_report.HE_crea }}" step=".01" onkeyup="HE_creaDiff()" min="0" max="20">
                    </div>
                </div>
            </div>
            <div style="display: flex;
                          justify-content: center;
                          align-items: center;">
                <button type="button" class="btn btn-warning" id="prevbasic" role="button" style="margin-bottom: 10px; margin-right: 10px;">Previous</button>
                <button type="button" class="btn btn-warning" id="nextlifestyle" role="button" style="margin-bottom: 10px">Next</button>
            </div>
        </div>

        <div class="tab-pane fade" id="lifestyle" role="tabpanel" aria-labelledby="lifestyle-tab" style=
                "max-width: 1000px;
                border-radius: 20px;
                margin: auto;
                background-color: #FCE5D8;
                box-shadow: 5px 5px 5px #aaaaaa;
                margin-top: 20px;">
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%;color: black;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
            <p style="margin-left: 35px; margin-top: 10px; font-size: 12px; max-width: 900px;"><b>Note:</b> * is required field and invalid required field will be highlighted in red.
                Please input maximum 2 decimal place. Please follow the allowed range.</p>
            <p style="margin-left: 35px; margin-top: 10px; font-weight: bold;"><u>Drinking and Smoking</u></p>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-5 col-form-label">Do you drink more than once a month?*</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="dr_month" id="dr_month1" value="1" required>
                    <label class="form-check-label" for="dr_month1">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="dr_month" id="dr_month2" value="0" required>
                    <label class="form-check-label" for="dr_month2">No</label>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-5 col-form-label">Do you have high risk drinking?*</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="dr_high" id="dr_high1" value="1" required>
                            <label class="form-check-label" for="dr_month1">Yes </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="dr_high" id="dr_high2" value="0" required>
                    <label class="form-check-label" for="dr_high2">No</label>
                </div>
            </div>
            <p style="font-size: 12px; margin-left: 40px;"> Select Yes, if 1) your average quanitity per occasion is more than 7 drinks for men and 5 for women; and 2) having drinks at least twice a week.</p>

            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-5 col-form-label">Do you smoke now?*</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="sm_presnt" id="sm_presnt1" value="1" required>
                    <label class="form-check-label" for="sm_presnt1">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="sm_presnt" id="sm_presnt2" value="0" required>
                    <label class="form-check-label" for="sm_presnt2">No</label>
                </div>
            </div>

            <p style="margin-left: 35px; margin-top: 10px; font-weight: bold;"><u>Physical Activity</u></p>
                        <div class="form-group row">
                <label for="inputPassword3" class="col-sm-5 col-form-label" style="width: 500px;">Duration of Vigorous Activity During a Week (min)*
                    <i style="font-size: 13px;">(Allowed range: 0~6000)</i>
                    <span id="pa_vig_tmDiff" style="color: #ee6617; margin-left: 20px;"></span>
                </label>
                <div class="col-sm-10" style="max-width: 500px;">
                    <input type="number" class="form-control" id="inputpa_vig_tm" name="pa_vig_tm" required value ="{{ latest_report.pa_vig_tm }}" step=".01" onkeyup="pa_vig_tmDiff()" min="0" max="6000">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-5 col-form-label" style="width: 500px;">Duration of Moderate Activity During a Week  (min)*
                    <i style="font-size: 13px;">(Allowed range: 0~7000)</i>
                    <span id="pa_mod_tmDiff" style="color: #ee6617; margin-left: 20px;"></span>
                </label>
                <div class="col-sm-10" style="max-width: 500px;">
                    <input type="number" class="form-control" id="inputpa_mod_tm" name="pa_mod_tm" required value ="{{ latest_report.pa_mod_tm }}" step=".01" onkeyup="pa_mod_tmDiff()" min="0" max="7000">
                </div>
            </div>


            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-5 col-form-label" style="width: 500px;">Duration of Walking During a Week  (min)*
                    <i style="font-size: 13px;">(Allowed range: 0~10000)</i>
                    <span id="pa_walkMETDiff" style="color: #ee6617; margin-left: 20px;"></span>
                </label>
                <div class="col-sm-10" style="max-width: 500px;">
                    <input type="number" class="form-control" id="inputpa_walkMET" name="pa_walkMET" required value ="{{ latest_report.pa_walkMET }}" step=".01" onkeyup="pa_walkMETDiff()" min="0" max="10000">
                </div>
            </div>


            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-5 col-form-label">Do you do aerobic activity?*</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="pa_aerobic" id="pa_aerobic1" value="1" style="margin-left: 20px" required>
                    <label class="form-check-label" for="mh_stress1">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="pa_aerobic" id="pa_aerobic2" value="0" required>
                    <label class="form-check-label" for="pa_aerobic2">No</label>
                </div>
            </div>
            <p style="font-size: 12px; margin-left: 40px;"> Select Yes, if in a week, 150 minutes more moderate activity or 75 minutes more vigorous activity.</p>

            <!-- <p style="margin-left: 35px; margin-top: 10px; font-weight: bold;"><u>Dietary</u></p>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-5 col-form-label" style="width: 500px;">Daily Intake of Protein (g)*
                    <i style="font-size: 13px;">(Allowed range: 0~600)</i>
                    <span id="N_PROTDiff" style="color: #ee6617; margin-left: 20px;"></span>
                </label>
                <div class="col-sm-10" style="max-width: 500px;">
                    <input type="number" class="form-control" id="inputN_PROT" name="N_PROT" required value ="{{ latest_report.N_PROT }}" step=".01" onkeyup="N_PROTDiff()" min="0" max="600">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-5 col-form-label" style="width: 500px;">Daily Intake of Fat (g)*
                    <i style="font-size: 13px;">(Allowed range: 0~300)</i>
                    <span id="N_FATDiff" style="color: #ee6617; margin-left: 20px;"></span>
                </label>
                <div class="col-sm-10" style="max-width: 500px;">
                    <input type="number" class="form-control" id="inputN_FAT" name="N_FAT" required value ="{{ latest_report.N_FAT }}" step=".01" onkeyup="N_FATDiff()" min="0" max="300">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-5 col-form-label" style="width: 500px;">Daily Intake of Carbohydrate (g)*
                    <i style="font-size: 13px;">(Allowed range: 0~2000)</i>
                    <span id="N_CHODiff" style="color: #ee6617; margin-left: 20px;"></span>
                </label>
                <div class="col-sm-10" style="max-width: 500px;">
                    <input type="number" class="form-control" id="inputN_CHO" name="N_CHO" required value ="{{ latest_report.N_CHO }}" step=".01" onkeyup="N_CHODiff()" min="0" max="2000">
                </div>
            </div> -->

            <div style="display: flex;
                          justify-content: center;
                          align-items: center;">
                <button type="button" class="btn btn-warning" id="prevblood" role="button" style="margin-bottom: 10px; margin-right: 10px;">Previous</button>
                <button type="button" class="btn btn-warning" id="nextother" role="button" style="margin-bottom: 10px">Next</button>
            </div>
        </div>

        <div class="tab-pane fade" id="otherdisease" role="tabpanel" aria-labelledby="otherdisease-tab" style="
                max-width: 1000px;
                border-radius: 20px;
                margin: auto;
                background-color: #FCE5D8;
                box-shadow: 5px 5px 5px #aaaaaa;
                margin-top: 20px;">
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 100%; color: black;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
            <p style="margin-left: 35px; margin-top: 10px; font-size: 12px; max-width: 900px;"><b>Note:</b> * is required field and invalid required field will be highlighted in red.
                Please input maximum 2 decimal place. Please follow the allowed range.</p>
            <p style="margin-left: 35px; margin-top: 10px; font-weight: bold;"><u>Diabetes Treatment and Family History</u></p>
                        <div class="form-group row">
                <label for="inputEmail3" class="col-sm-5 col-form-label">Do you have diabetes treatment?*</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" onclick="javascript:diabetes_treatment_Check();" name="DE1_3" id="yes_diabetes_treatment" value="1" required>
                    <label class="form-check-label" for="inlineRadio1">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" onclick="javascript:diabetes_treatment_Check();" name="DE1_3" id="no_diabetes_treatment" value="2" required>
                    <label class="form-check-label" for="inlineRadio2">No</label>
                </div>
            </div>
            <div id="if_diabetes_treatment_Yes" style="display:none">
                <div class="form-group">
                    <p style="margin-left: 20px;"><u>If yes, please select your treatments.</u></p>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-5 col-form-label">Diabetes Treatment with Insulin Injection</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="DE1_31" id="inlineRadio1" value="1">
                        <label class="form-check-label" for="inlineRadio1">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="DE1_31" id="inlineRadio2" value="0">
                        <label class="form-check-label" for="inlineRadio2">No</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-5 col-form-label">Diabetes Treatment with Oral Medication</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="DE1_32" id="DE1_32_1" value="1">
                        <label class="form-check-label" for="DE1_32_1">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="DE1_32" id="DE1_32_2" value="0">
                        <label class="form-check-label" for="DE1_32_2">No</label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-5 col-form-label">Do you have diabetes family history?*</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="HE_DMfh" id="HE_DMfh_1" value="1" required>
                    <label class="form-check-label" for="HE_DMfh_1">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="HE_DMfh" id="HE_DMfh_2" value="0" required>
                    <label class="form-check-label" for="HE_DMfh_2">No</label>
                </div>
            </div>

            <!-- <p style="margin-left: 35px; margin-top: 10px; font-weight: bold;"><u>Diabetes Comorbidity</u></p>
                        <div class="form-group row">
                <label for="inputEmail3" class="col-sm-5 col-form-label">Have you been diagnosed cardiovascular disease?*</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="DI4_dg" id="DI4_dg_1" value="1" required>
                    <label class="form-check-label" for="DI4_dg_1">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="DI4_dg" id="DI4_dg_2" value="0" required>
                    <label class="form-check-label" for="DI4_dg_2">No</label>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-5 col-form-label">Have you been diagnosed stroke?*</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="DI3_dg" id="DI3_dg_1" value="1" required>
                    <label class="form-check-label" for="DI3_dg_1">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="DI3_dg" id="DI3_dg_2" value="0" required>
                    <label class="form-check-label" for="DI3_dg_2">No</label>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-5 col-form-label">Do you have hypertension medication use?*</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="DI1_2" id="DI1_2_1" value="1" required>
                    <label class="form-check-label" for="DI1_2_1">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="DI1_2" id="DI1_2_2" value="5" required>
                    <label class="form-check-label" for="DI1_2_2">No</label>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-5 col-form-label">Do you have dyslipidemia medication use?*</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="DI2_2" id="DI2_2_1" value="1" required>
                    <label class="form-check-label" for="DI2_2_1">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="DI2_2" id="DI2_2_2" value="5" required>
                    <label class="form-check-label" for="DI2_2_2">No</label>
                </div>
            </div> -->


            <div style="display: flex;
                          justify-content: center;
                          align-items: center;">
                <button type="button" class="btn btn-warning" id="prevlifestyle" role="button" style="margin-bottom: 10px; margin-right: 10px;">Previous</button>
                <button type="submit" class="btn btn-warning" role="button" style="margin-bottom: 10px" >Submit</button>
            </div>
        </div>
    </form>
    </div>

    <script type="text/javascript">

        function ageDiff() {
            var ageDiff = (document.getElementById("inputAge").value - {{ latest_report.age }}).toFixed(2);
            document.getElementById("ageDiff").innerHTML = ageDiff;
        }

        function HE_htDiff() {
            var HE_htDiff = (document.getElementById("inputHE_ht").value - {{ latest_report.HE_ht }}).toFixed(2);
            document.getElementById("HE_htDiff").innerHTML = HE_htDiff;
        }

        function HE_wtDiff() {
            var HE_wtDiff = (document.getElementById("inputHE_wt").value - {{ latest_report.HE_wt }}).toFixed(2);
            document.getElementById("HE_wtDiff").innerHTML = HE_wtDiff;
        }

        function HE_wcDiff() {
            var HE_wcDiff = (document.getElementById("inputHE_wc").value - {{ latest_report.HE_wc }}).toFixed(2);
            document.getElementById("HE_wcDiff").innerHTML = HE_wcDiff;
        }

        function HE_sbpDiff() {
            var HE_sbpDiff = (document.getElementById("inputHE_sbp").value - {{ latest_report.HE_sbp }}).toFixed(2);
            document.getElementById("HE_sbpDiff").innerHTML = HE_sbpDiff;
        }

        function HE_dbpDiff() {
            var HE_dbpDiff = (document.getElementById("inputHE_dbp").value - {{ latest_report.HE_dbp }}).toFixed(2);
            document.getElementById("HE_dbpDiff").innerHTML = HE_dbpDiff;
        }

        function HE_cholDiff() {
            var HE_cholDiff = (document.getElementById("inputHE_chol").value - {{ latest_report.HE_chol }}).toFixed(2);
            document.getElementById("HE_cholDiff").innerHTML = HE_cholDiff;
        }

        function HE_HDL_st2Diff() {
            var HE_HDL_st2Diff = (document.getElementById("inputHE_HDL_st2").value - {{ latest_report.HE_HDL_st2 }}).toFixed(2);
            document.getElementById("HE_HDL_st2Diff").innerHTML = HE_HDL_st2Diff;
        }

        function HE_TGDiff() {
            var HE_TGDiff = (document.getElementById("inputHE_TG").value - {{ latest_report.HE_TG }}).toFixed(2);
            document.getElementById("HE_TGDiff").innerHTML = HE_TGDiff;
        }

        function HE_gluDiff() {
            var HE_gluDiff = (document.getElementById("inputHE_glu").value - {{ latest_report.HE_glu }}).toFixed(2);
            document.getElementById("HE_gluDiff").innerHTML = HE_gluDiff;
        }

        function HE_HbA1cDiff() {
            var HE_HbA1cDiff = (document.getElementById("inputHE_HbA1c").value - {{ latest_report.HE_HbA1c }}).toFixed(2);
            document.getElementById("HE_HbA1cDiff").innerHTML = HE_HbA1cDiff;
        }

        function HE_BUNDiff() {
            var HE_BUNDiff = (document.getElementById("inputHE_BUN").value - {{ latest_report.HE_BUN }}).toFixed(2);
            document.getElementById("HE_BUNDiff").innerHTML = HE_BUNDiff;
        }

        function HE_creaDiff() {
            var HE_creaDiff = (document.getElementById("inputHE_crea").value - {{ latest_report.HE_crea }}).toFixed(2);
            document.getElementById("HE_creaDiff").innerHTML = HE_creaDiff;
        }

        function pa_vig_tmDiff() {
            var pa_vig_tmDiff = (document.getElementById("inputpa_vig_tm").value - {{ latest_report.pa_vig_tm }}).toFixed(2);
            document.getElementById("pa_vig_tmDiff").innerHTML = pa_vig_tmDiff;
        }

        // function N_CHODiff() {
        //     var N_CHODiff = (document.getElementById("inputN_CHO").value - {{ latest_report.N_CHO }}).toFixed(2);
        //     document.getElementById("N_CHODiff").innerHTML = N_CHODiff;
        // }

        function pa_mod_tmDiff() {
            var pa_mod_tmDiff = (document.getElementById("inputpa_mod_tm").value - {{ latest_report.pa_mod_tm}}).toFixed(2);
            document.getElementById("pa_mod_tmDiff").innerHTML = pa_mod_tmDiff;
        }

        function pa_walkMETDiff() {
            var pa_walkMETDiff = (document.getElementById("inputpa_walkMET").value - {{ latest_report.pa_walkMET }}).toFixed(2);
            document.getElementById("pa_walkMETDiff").innerHTML = pa_walkMETDiff;
        }

        // function N_PROTDiff() {
        //     var N_PROTDiff = (document.getElementById("inputN_PROT").value - {{ latest_report.N_PROT }}).toFixed(2);
        //     document.getElementById("N_PROTDiff").innerHTML = N_PROTDiff;
        // }

        // function N_FATDiff() {
        //     var N_FATDiff = (document.getElementById("inputN_FAT").value - {{ latest_report.N_FAT }}).toFixed(2);
        //     document.getElementById("N_FATDiff").innerHTML = N_FATDiff;
        // }

        function yesnoCheck() {
            if (document.getElementById('yesCheck').checked) {
                document.getElementById('ifYes').style.display = "block";
            }
            else document.getElementById('ifYes').style.display = "none";

        }

        function diabetes_treatment_Check() {
            if (document.getElementById('yes_diabetes_treatment').checked) {
                document.getElementById('if_diabetes_treatment_Yes').style.display = "block";
            }
            else document.getElementById('if_diabetes_treatment_Yes').style.display = "none";

        }

        document.getElementById("basicinfo-tab").onclick = function() {
            document.getElementById("basicinfo").style.display = "block";
            document.getElementById("bloodtest").style.display = "none";
            document.getElementById("lifestyle").style.display = "none";
            document.getElementById("otherdisease").style.display = "none";
        }

        document.getElementById("prevbasic").onclick = function() {
            document.getElementById("basicinfo").style.display = "block";
            document.getElementById("bloodtest").style.display = "none";
            document.getElementById("lifestyle").style.display = "none";
            document.getElementById("otherdisease").style.display = "none";
        }

        document.getElementById("bloodtest-tab").onclick = function() {
            document.getElementById("basicinfo").style.display = "none";
            document.getElementById("bloodtest").style.display = "block";
            document.getElementById("lifestyle").style.display = "none";
            document.getElementById("otherdisease").style.display = "none";
        }

        document.getElementById("nextblood").onclick = function() {
            document.getElementById("basicinfo").style.display = "none";
            document.getElementById("bloodtest").style.display = "block";
            document.getElementById("lifestyle").style.display = "none";
            document.getElementById("otherdisease").style.display = "none";
        }

        document.getElementById("prevblood").onclick = function() {
            document.getElementById("basicinfo").style.display = "none";
            document.getElementById("bloodtest").style.display = "block";
            document.getElementById("lifestyle").style.display = "none";
            document.getElementById("otherdisease").style.display = "none";
        }

        document.getElementById("lifestyle-tab").onclick = function() {
            document.getElementById("basicinfo").style.display = "none";
            document.getElementById("bloodtest").style.display = "none";
            document.getElementById("lifestyle").style.display = "block";
            document.getElementById("otherdisease").style.display = "none";
        }

        document.getElementById("nextlifestyle").onclick = function() {
            document.getElementById("basicinfo").style.display = "none";
            document.getElementById("bloodtest").style.display = "none";
            document.getElementById("lifestyle").style.display = "block";
            document.getElementById("otherdisease").style.display = "none";
        }

        document.getElementById("prevlifestyle").onclick = function() {
            document.getElementById("basicinfo").style.display = "none";
            document.getElementById("bloodtest").style.display = "none";
            document.getElementById("lifestyle").style.display = "block";
            document.getElementById("otherdisease").style.display = "none";
        }

        document.getElementById("nextother").onclick = function() {
            document.getElementById("basicinfo").style.display = "none";
            document.getElementById("bloodtest").style.display = "none";
            document.getElementById("lifestyle").style.display = "none";
            document.getElementById("otherdisease").style.display = "block";
        }


        document.getElementById("otherdisease-tab").onclick = function() {
            document.getElementById("basicinfo").style.display = "none";
            document.getElementById("bloodtest").style.display = "none";
            document.getElementById("lifestyle").style.display = "none";
            document.getElementById("otherdisease").style.display = "block";
        }

    </script>

     <script>
         $(function(){
             $('#prevbasic').click(function(e){
                 e.preventDefault();
                 $('#myTab a[href="#basicinfo"]').tab('show');
             });

             $('#prevblood').click(function(e){
                 e.preventDefault();
                 $('#myTab a[href="#bloodtest"]').tab('show');
             });

             $('#nextblood').click(function(e){
                 e.preventDefault();
                 $('#myTab a[href="#bloodtest"]').tab('show');
             });

             $('#prevlifestyle').click(function(e){
                 e.preventDefault();
                 $('#myTab a[href="#lifestyle"]').tab('show');
             });

             $('#nextlifestyle').click(function(e){
                 e.preventDefault();
                 $('#myTab a[href="#lifestyle"]').tab('show');
             });

             $('#nextother').click(function(e){
                 e.preventDefault();
                 $('#myTab a[href="#otherdisease"]').tab('show');
             });
         });
     </script>
    <style>
        input[type="text"],
        input[type="email"],
        input[type="number"],
        textarea,
        fieldset {
            width: 100%;
            border: 1px solid #333;
            box-sizing: border-box;
        }

        input:invalid {
            box-shadow: 0 0 5px 1px red;
        }

        input:focus:invalid {
            box-shadow: none;
        }

        h1 {
            #text-shadow: 1px 1px 5px #BFBFBF;
            font-size: xx-large;
            text-align: center;
        }

        .form-group {
            margin-left: 20px;
        }

    </style>
{% endblock %}